.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 6.6rem;
  box-shadow: 0 0 11px -2px rgba(0, 0, 0,.75);
  z-index: 20;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  left: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  max-height: calc(6.6rem * 0.8);
  margin-right: 10px;
}

.account-container {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
}

.account-container svg {
  width: 2.5rem;
  fill: red;
  margin-right: 20px;
}

.account-container .is-online svg {
  fill: green;
}

.dropdown {
  position: relative;
}

.dropdown .content {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: .4em;
  transform: translateY(100%);
  border: 1px solid #fb6b3f;
  background-color: #fff;
  text-align: center;
}

.dropdown:hover .content {
  display: block;
}

.dropdown .toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8em;
  font-size: 0.9em;
  padding: .4em 1em;
}

.dropdown .toggle:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2rem;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown .content a, .dropdown .content p {
  font-size: 0.8em;
}

.dropdown .content a {
  display: block;
  border-top: 1px solid red;
  padding: .4em 1em .3em;
}

.dropdown .content p {
  padding: 0.4em 0;
}

.dropdown a {
  transition: 0.3s ease-in-out;
  color: red;
}

.dropdown a:hover {
  color: white;
  background-color: red;
}